.main-menu-button {
  position: fixed;
  right: 2%;
  top: 2%;
}

body {
  margin-top: 10%;
  background-color: #c9d6df;
  text-align: center;
}

button.MuiButtonBase-root {
  margin: 10px;
}

.endgame-button {
  position:static;
}